:root{
    --Primaria: #482de4de;
    --Primaria-ligh: #5658d8;
    --blue-light: #8492FD;
    --Secundaria: #101010;
    --Branco: #f4f1ff;
    --texto: #323760;
    --lado-informação-background: #2a0ba8de;
}

body{
font-size: 16px;
background: var(--lado-informação-background);
font-family: Mulish,sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linha-socials{
    display: flex;
    gap: 16px;
}

.linha-socials img{
    width: 24px;
    height: 24px;
}

.linha-socials >a{
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    min-height: 30px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--texto);
    border: 1px solid var(--Primaria-ligh);
    font-weight: 700;
}

.linha-socials > a:hover{
    color: var(--Primaria);
    border: 1px solid var(--Primaria);
}

.divisor{
    display: flex;
    flex-direction: row;
    color: var(--Secundaria);
    gap: 16px;
    align-items: center;
}

.divisor-linha{
    width: 100%;
    height: 1px;
    background-color: var(--Secundaria);
    opacity: .2;
}

.form-wrapper{
    
    position: static;
    display: grid;
    grid-template-columns: 3fr 2fr;


}

.lado-formulario{
    padding: 84px 32px 48px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.lado-informação{
    height: auto;
    padding: 8px 12px 8px 12px;
    color: #401b30;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(92.15deg,
                var(--blue-light) 30.13%,
                var(--lado-informação-background) 95.43%);
}

.lado-informação img{
    max-width: 360px;
    z-index: 1;
}

.formulario-digitaveis svg{
    position: absolute;
    right: -2px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    transform: translate(-50%,-50%);
    transform-origin: center;
}

.formulario-digitaveis input:focus{
    border: 1px solid var(--Primaria);
}

.formulario-digitaveis input:focus + svg{
    stroke: var(--Primaria);
}

.formulario-digitaveis label{
    color: var(--Secundaria);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

@media (max-width: 840px){
    .form.wrapper{
        grid-template-columns: 1fr;
        height: 100vh;
    }
    .lado-informação{
        display: none;
        padding: 48px 48px 48px 32px;
    }
}

.logo{
    align-items: center;  
}

.logo img{
    width: 400px;
    height: auto;
}

.my-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 16px;
    max-width: 460px;
    min-width: 300px;
    width: 100%;
    padding: 48px 32px;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 
                        0px 7px 29px 0px;
}

.linha-formulario-bem-vindo{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.linha-formulario-bem-vindo{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    
}

.my-form_butão{
    background: var(--Primaria);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025cm;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px 
    rgba(0,0,0,.15);
    transition: all .3s ease;
}

.my-form_actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--Secundaria);
    gap: 16px;
    margin-top: 8px;
    font-size: smaller;
}

.my-form_actions a{
    color: var(--Primaria);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}

.my-form_actions a:first-child {
    text-align: left;
}

.my-form_actions a:last-child {
    text-align: right;
}

.my-form_actions a:hover {
    text-decoration: underline;
}

.my-form_row{
    display: flex;
    justify-content: space-between;
}

.formulario-digitaveis input{
    color: var(--Secundaria);
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    height: 50px;
    letter-spacing: .03rem;
    border: 1px solid var(--Secundaria);
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 4px;
}

.formulario-digitaveis label:focus-within{
    color: var(--Primaria)
}

.formulario-digitaveis{
    position: relative;
}
