:root {

    --fundo: #0b0131;
    --LETRAS : rgb(231, 231, 231);

}




.BTN_teste{
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    width: 600px;
    padding: 10px;

}

.collapsed .BTN_teste {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    width: fit-content;
    width: 600px;
    padding: 10px;


}

.BTN_teste button{
    width: 120px;
    background-color:var(--fundo) ;
    color: var(--LETRAS);


}